@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-green: #a3d177;
  --secondary-green: #497321;
  --dark-green: #253614;
  --light-green-bg: #f0f9f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-green: var(--primary-green);
  --color-secondary-green: var(--secondary-green);
  --color-dark-green: var(--dark-green);
  --color-light-green-bg: var(--light-green-bg);
  --font-vazir: "Vazirmatn", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Vazirmatn", sans-serif;
  direction: rtl;
}

* {
  direction: rtl;
  font-family: "Vazirmatn", sans-serif;
}
